<footer class="footer">
  <small>
    LJHS Sailing &mdash; <%= signed_in? ? "You are logged in as #{current_user.name}" : "You are not logged in." %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>